In [12]:
## Import necessary librarise
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [13]:
#read cvs file
#df = pd.read_csv('C:\\Lincolnuni\\COMP_647\\project_1\\comp647\\dataset\\raw\\crop_yield_dataset.csv')
df_weather = pd.read_csv('../dataset/processed/crop_weather_data.csv')

# Display the first 5 rows
df_weather.head()

,Date,Crop_Type,Temperature,Humidity,Wind_Speed,Crop_Yield,Year,Month,Day
0,2014-01-01,Wheat,9.440599,80.000000,10.956707,0.000000,2014,1,1
1,2014-01-01,Corn,20.052576,79.947424,8.591577,104.871310,2014,1,1
2,2014-01-01,Rice,12.143099,80.000000,7.227751,0.000000,2014,1,1
3,2014-01-01,Barley,19.751848,80.000000,2.682683,58.939796,2014,1,1
4,2014-01-01,Soybean,16.110395,80.000000,7.696070,32.970413,2014,1,1

In [14]:
print(df_weather.isnull().sum())

Date           0
Crop_Type      0
Temperature    0
Humidity       0
Wind_Speed     0
Crop_Yield     0
Year           0
Month          0
Day            0
dtype: int64

In [15]:
#Print data info (data types, non-null counts, memory usage)
print(df_weather.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36520 entries, 0 to 36519
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         36520 non-null  object
 1   Crop_Type    36520 non-null  object
 2   Temperature  36520 non-null  float64
 3   Humidity     36520 non-null  float64
 4   Wind_Speed   36520 non-null  float64
 5   Crop_Yield   36520 non-null  float64
 6   Year         36520 non-null  int64
 7   Month        36520 non-null  int64
 8   Day          36520 non-null  int64
dtypes: float64(4), int64(3), object(2)
memory usage: 2.5+ MB
None

In [20]:
# Round Temperature, Humidity, and Wind_Speed to nearest integer
df_weather['Temperature_int'] = df_weather['Temperature'].round().astype(int)
df_weather['Humidity_int'] = df_weather['Humidity'].round().astype(int)
df_weather['Wind_Speed_int'] = df_weather['Wind_Speed'].round().astype(int)

print(df_weather[['Temperature', 'Temperature_int',
                  'Humidity', 'Humidity_int',
                  'Wind_Speed', 'Wind_Speed_int']].head())

   Temperature  Temperature_int  Humidity  Humidity_int  Wind_Speed  \
0            9                9        80            80          11
1           20               20        80            80           9
2           12               12        80            80           7
3           20               20        80            80           3
4           16               16        80            80           8

   Wind_Speed_int
0              11
1               9
2               7
3               3
4               8

In [21]:
# Round Temperature, Humidity, and Wind_Speed to nearest integer
# Overwrite the existing columns instead of creating new ones
df_weather['Temperature'] = df_weather['Temperature'].round().astype(int)
df_weather['Humidity']    = df_weather['Humidity'].round().astype(int)
df_weather['Wind_Speed']  = df_weather['Wind_Speed'].round().astype(int)

# Print to verify the changes
print(df_weather[['Temperature', 'Humidity', 'Wind_Speed']].head())

   Temperature  Humidity  Wind_Speed
0            9        80          11
1           20        80           9
2           12        80           7
3           20        80           3
4           16        80           8

In [22]:
# Remove integer-converted columns (Temperature_int, Humidity_int, Wind_Speed_int)
df_weather = df_weather.drop(columns=['Temperature_int', 'Humidity_int', 'Wind_Speed_int'])

# Verify columns are removed
print(df_weather.head())

         Date Crop_Type  Temperature  Humidity  Wind_Speed  Crop_Yield  Year  \
0  2014-01-01     Wheat            9        80          11    0.000000  2014
1  2014-01-01      Corn           20        80           9  104.871310  2014
2  2014-01-01      Rice           12        80           7    0.000000  2014
3  2014-01-01    Barley           20        80           3   58.939796  2014
4  2014-01-01   Soybean           16        80           8   32.970413  2014

   Month  Day
0      1    1
1      1    1
2      1    1
3      1    1
4      1    1

In [26]:
# Display the first 5 rows
df_weather.head()

,Date,Crop_Type,Temperature,Humidity,Wind_Speed,Crop_Yield,Year,Month,Day
0,2014-01-01,Wheat,9,80,11,0.000000,2014,1,1
1,2014-01-01,Corn,20,80,9,104.871310,2014,1,1
2,2014-01-01,Rice,12,80,7,0.000000,2014,1,1
3,2014-01-01,Barley,20,80,3,58.939796,2014,1,1
4,2014-01-01,Soybean,16,80,8,32.970413,2014,1,1

In [27]:
#Display summary statistics for numerical columns
print(df_weather.describe())

        Temperature      Humidity    Wind_Speed    Crop_Yield          Year  \
count  36520.000000  36520.000000  36520.000000  36520.000000  36520.000000
mean      23.811528     74.259502     10.021440     26.878480   2018.499726
std        8.926331      6.772669      3.010711     25.740936      2.871939
min       -4.000000     46.000000     -3.000000      0.000000   2014.000000
25%       17.000000     70.000000      8.000000      0.000000   2016.000000
50%       23.000000     77.000000     10.000000     23.366344   2018.500000
75%       30.000000     80.000000     12.000000     46.415729   2021.000000
max       54.000000     80.000000     23.000000    136.711982   2023.000000

              Month           Day
count  36520.000000  36520.000000
mean       6.523549     15.727820
std        3.448580      8.799445
min        1.000000      1.000000
25%        4.000000      8.000000
50%        7.000000     16.000000
75%       10.000000     23.000000
max       12.000000     31.000000

In [29]:
# Calculate total number of records per Crop_Type
total_counts = df_weather.groupby('Crop_Type').size().reset_index(name='Total_Count')

# Calculate number of zero-yield records per Crop_Type
zero_counts = (
    df_weather[df_weather['Crop_Yield'] == 0]
    .groupby('Crop_Type')
    .size()
    .reset_index(name='Zero_Yield_Count')
)

# Merge both results into one DataFrame
result = pd.merge(total_counts, zero_counts, on='Crop_Type', how='left')

# Replace NaN (if a crop has no zero yields) with 0
result['Zero_Yield_Count'] = result['Zero_Yield_Count'].fillna(0).astype(int)

# Add ratio (%) of zero-yield records
result['Zero_Yield_Ratio(%)'] = (
    result['Zero_Yield_Count'] / result['Total_Count'] * 100
).round(2)

print("Total records and zero-yield records by Crop_Type")
print(result)

Total records and zero-yield records by Crop_Type
   Crop_Type  Total_Count  Zero_Yield_Count  Zero_Yield_Ratio(%)
0     Barley         3652              1131                30.97
1       Corn         3652              1128                30.89
2     Cotton         3652              1111                30.42
3     Potato         3652              1093                29.93
4       Rice         3652              1083                29.65
5    Soybean         3652              1087                29.76
6  Sugarcane         3652              1096                30.01
7  Sunflower         3652              1105                30.26
8     Tomato         3652              1086                29.74
9      Wheat         3652              1105                30.26

In [30]:
# Check if there are any rows with Crop_Yield = 0
zero_yield = df_weather[df_weather['Crop_Yield'] == 0]

# Print how many records have zero yield
print(f"Number of records with Crop_Yield = 0: {len(zero_yield)}")

# If any, show a preview of them
if not zero_yield.empty:
    print("\nExamples of rows with zero yield:")
    print(zero_yield.head())

Number of records with Crop_Yield = 0: 11025

Examples of rows with zero yield:
          Date  Crop_Type  Temperature  Humidity  Wind_Speed  Crop_Yield  \
0   2014-01-01      Wheat            9        80          11         0.0
2   2014-01-01       Rice           12        80           7         0.0
6   2014-01-01  Sugarcane           14        80          10         0.0
12  2014-01-02       Rice           14        80           9         0.0
14  2014-01-02    Soybean            9        80          10         0.0

    Year  Month  Day
0   2014      1    1
2   2014      1    1
6   2014      1    1
12  2014      1    2
14  2014      1    2

In [ ]:
# Define custom bins (in °C)
bins = [-10, 0, 10, 20, 30, 55]  # 예: 0~10, 10~20, 20~30, 30~40
labels = ['Very Low', 'Low', 'Medium', 'High', 'Very High']

# Create a new column 'Temp_Category' based on the bins
df_weather['Temp_Category'] = pd.cut(df_weather['Temperature'], bins=bins, labels=labels, include_lowest=True)

print(df_weather[['Temperature', 'Temp_Category']].head())

   Temperature Temp_Category
0            9           Low
1           20        Medium
2           12        Medium
3           20        Medium
4           16        Medium